<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="../../../assets/svg/icons8-menú-redondeado-50.png" alt="menu">
    </button>
    <a href="">
      <img src="../../../assets/svg/icons8-precio-de-venta-64.png" alt="logo">
    </a>
    <a href="">
      <img src="../../../assets/svg/icons8-shopping-trolley-64.png" alt="logo">
    </a>
  </div>
  <div class="side-menu" [class.active]="showMenu">
    <button (click)="toggleMenu()">Close</button>
    <ul>
      <li><a routerLink="home">All</a></li>
      <li *ngFor="let item of categories">
        <a class="active" [routerLink]="['/category',item.id]">{{item.name}}</a>
      </li>
    </ul>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img src="../../../assets/img/tanjiro_logo_h_blanco.png" alt="logo">
      </a>
      <ul>
        <li><a routerLinkActive="active" routerLink="/">All</a></li>
        <li *ngFor="let item of categories">
          <a routerLinkActive="active" [routerLink]="['/category',item.id]">{{item.name}}</a>
        </li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">
        <button *ngIf="!profile; else elseBlock" (click)="login()">Login</button>
        <ng-template #elseBlock>
          <a routerLink="/profile">{{ profile?.email }}</a>
          <button (click)="logout()">Logout</button>
        </ng-template>

      </div>
      <div>
        <a href="">
          {{counter}}
          <img src="../../../assets/svg/icons8-shopping-trolley-64.png" alt="logo">
        </a>
      </div>
    </div>
  </div>
</div>
